In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Yêu cầu 1

In [93]:
# Đọc bộ dữ liệu
df = pd .read_csv('D:\Desktop\Data_Analyst\Jupiter_Notebook_Pandas\Pandas\OnlineRetail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [94]:
# cho biết số dòng, số cột
df.shape

(541909, 8)

In [95]:
# kiểu dữ liệu của các thuộc tính
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

#### Yêu cầu 2

In [96]:
# Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia
df_pivot = df.pivot_table(values='Quantity', index='InvoiceNo', columns='Country', aggfunc= 'mean')
df_pivot

Country,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,...,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.714286,NaN
536366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
536367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.916667,NaN
536368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000,NaN
536369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80995.000000,NaN
C581490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11.500000,NaN
C581499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN
C581568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.000000,NaN
C581569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.000000,NaN

#### Yêu cầu 3

In [97]:
# Xây dựng bảng Pivot table, với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho.
df_pivot = df.pivot_table(values='Quantity', index='CustomerID', columns='StockCode', aggfunc= {'max','min'})
df_pivot

             max                                                           \
StockCode  10002 10080 10120 10123C 10124A 10124G 10125 10133 10135 11001
CustomerID
12346.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12347.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12348.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12349.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12350.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
...          ...   ...   ...    ...    ...    ...   ...   ...   ...   ...
18280.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18281.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18282.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18283.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18287.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN

            ...    min
StockCode   ... 90214Y 90214Z BANK CHARGES  C2 CRUK   D DOT    M PADS POST
CustomerID  ...
12346.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
12347.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
12348.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
12349.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
12350.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
...         ...    ...    ...          ...  ..  ...  ..  ..  ...  ...  ...
18280.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18281.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18282.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18283.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  1.0  NaN  NaN
18287.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN

[4372 rows x 7368 columns]

#### Yều cầu 4

In [98]:
# Xây dựng bảng Pivot table, với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá.
df_pivot = df.pivot_table(values=['Quantity','UnitPrice'], index=['StockCode'], columns='Description', aggfunc= {'Quantity':np.sum,'UnitPrice':np.mean})
df_pivot

                                   Quantity                                 \
Description   4 PURPLE FLOCK DINNER CANDLES  50'S CHRISTMAS GIFT BAG LARGE
StockCode
10002                                   NaN                            NaN
10080                                   NaN                            NaN
10120                                   NaN                            NaN
10123C                                  NaN                            NaN
10124A                                  NaN                            NaN
...                                     ...                            ...
gift_0001_20                            NaN                            NaN
gift_0001_30                            NaN                            NaN
gift_0001_40                            NaN                            NaN
gift_0001_50                            NaN                            NaN
m                                       NaN                            NaN

                                                              \
Description   DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK
StockCode
10002                       NaN                          NaN
10080                       NaN                          NaN
10120                       NaN                          NaN
10123C                      NaN                          NaN
10124A                      NaN                          NaN
...                         ...                          ...
gift_0001_20                NaN                          NaN
gift_0001_30                NaN                          NaN
gift_0001_40                NaN                          NaN
gift_0001_50                NaN                          NaN
m                           NaN                          NaN

                                                                    \
Description   I LOVE LONDON MINI RUCKSACK  NINE DRAWER OFFICE TIDY
StockCode
10002                                 NaN                      NaN
10080                                 NaN                      NaN
10120                                 NaN                      NaN
10123C                                NaN                      NaN
10124A                                NaN                      NaN
...                                   ...                      ...
gift_0001_20                          NaN                      NaN
gift_0001_30                          NaN                      NaN
gift_0001_40                          NaN                      NaN
gift_0001_50                          NaN                      NaN
m                                     NaN                      NaN

                                                                   \
Description   OVAL WALL MIRROR DIAMANTE   RED SPOT GIFT BAG LARGE
StockCode
10002                                NaN                      NaN
10080                                NaN                      NaN
10120                                NaN                      NaN
10123C                               NaN                      NaN
10124A                               NaN                      NaN
...                                  ...                      ...
gift_0001_20                         NaN                      NaN
gift_0001_30                         NaN                      NaN
gift_0001_40                         NaN                      NaN
gift_0001_50                         NaN                      NaN
m                                    NaN                      NaN

                                                                       ...  \
Description   SET 2 TEA TOWELS I LOVE LONDON   SPACEBOY BABY GIFT SET  ...
StockCode                                                              ...
10002                                     NaN                     NaN  ...
10080                                     NaN                     NaN  ...
10120                                     NaN                     NaN  ...
10123C                                    NaN                     NaN  ...
10124A                                    NaN                     NaN  ...
...                                       ...                     ...  ...
gift_0001_20                              NaN                     NaN  ...
gift_0001_30                              NaN                     NaN  ...
gift_0001_40                              NaN                     NaN  ...
gift_0001_50                              NaN                     NaN  ...
m                                         NaN                     NaN  ...

                       UnitPrice                                          \
Description  wrongly coded 20713 wrongly coded 23343 wrongly coded-23343
StockCode
10002                        NaN                 NaN                 NaN
10080                        NaN                 NaN                 NaN
10120                        NaN                 NaN                 NaN
10123C                       NaN                 NaN                 NaN
10124A                       NaN                 NaN                 NaN
...                          ...                 ...                 ...
gift_0001_20                 NaN                 NaN                 NaN
gift_0001_30                 NaN                 NaN                 NaN
gift_0001_40                 NaN                 NaN                 NaN
gift_0001_50                 NaN                 NaN                 NaN
m                            NaN                 NaN                 NaN

                                                                              \
Description  wrongly marked wrongly marked 23343 wrongly marked carton 22804
StockCode
10002                   NaN                  NaN                         NaN
10080                   NaN                  NaN                         NaN
10120                   NaN                  NaN                         NaN
10123C                  NaN                  NaN                         NaN
10124A                  NaN                  NaN                         NaN
...                     ...                  ...                         ...
gift_0001_20            NaN                  NaN                         NaN
gift_0001_30            NaN                  NaN                         NaN
gift_0001_40            NaN                  NaN                         NaN
gift_0001_50            NaN                  NaN                         NaN
m                       NaN                  NaN                         NaN

                                                                        \
Description  wrongly marked. 23343 in box wrongly sold (22719) barcode
StockCode
10002                                 NaN                          NaN
10080                                 NaN                          NaN
10120                                 NaN                          NaN
10123C                                NaN                          NaN
10124A                                NaN                          NaN
...                                   ...                          ...
gift_0001_20                          NaN                          NaN
gift_0001_30                          NaN                          NaN
gift_0001_40                          NaN                          NaN
gift_0001_50                          NaN                          NaN
m                                     NaN                          NaN


Description  wrongly sold as sets wrongly sold sets
StockCode
10002                         NaN               NaN
10080                         NaN               NaN
10120                         NaN               NaN
10123C                        NaN               NaN
10124A                        NaN               NaN
...                           ...               ...
gift_0001_20                  NaN               NaN
gift_0001_30                  NaN               NaN
gift_0001_40                  NaN               NaN
gift_0001_50                  NaN               NaN
m                             NaN               NaN

[3958 rows x 8446 columns]

#### Yêu cầu 5

In [101]:
df['Date'] = df['InvoiceDate'].apply(lambda x: x.split(' ')[0])
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,2010-12-01

In [102]:
# Xây dựng bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày.
df_pivot = df.pivot_table(values='Quantity', index='Description', columns='Date', aggfunc= 'sum')
df_pivot

Date,2010-12-01,2010-12-02,2010-12-03,2010-12-05,2010-12-06,2010-12-07,2010-12-08,2010-12-09,2010-12-10,2010-12-12,...,2011-11-29,2011-11-30,2011-12-01,2011-12-02,2011-12-04,2011-12-05,2011-12-06,2011-12-07,2011-12-08,2011-12-09
Description,,,,,,,,,,,,,,,,,,,,,
4 PURPLE FLOCK DINNER CANDLES,2.0,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.0,NaN,NaN,NaN,12.0,1.0,24.0,12.0,NaN
50'S CHRISTMAS GIFT BAG LARGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,1.0,24.0,1.0,2.0,16.0,NaN,5.0,1.0,14.0
DOLLY GIRL BEAKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,14.0,4.0,28.0,12.0,3.0,7.0,12.0,13.0,1.0
I LOVE LONDON MINI BACKPACK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,NaN,8.0,4.0,6.0,5.0,2.0
I LOVE LONDON MINI RUCKSACK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wrongly marked carton 22804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wrongly marked. 23343 in box,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wrongly sold (22719) barcode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wrongly sold as sets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wrongly sold sets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN